<!DOCTYPE html>
<html>
    <head>
        <!-- Remember I said we would tell you what to put here? Don't worry about these -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Lesson 3 Demo 2</title>
        <link rel="stylesheet" href="demo2.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1 class="heading">Lesson 3, Demo 2</h1>
        <h2 class="heading">Basic VueJS</h2>
        <div id="app">
            <!-- Regular Vue formatting -->
            <p>{{message}}</p>
            <br />
            <!-- Testing v-bind -->
            <img alt="demo2 test image" title="The src can change!" v-bind:src="imageSRC" />
            <!-- Testing v-if -->
            <div v-if="canYouSeeMe">
                <br />
                Can you see me now?
                <br />
            </div>
            <!-- Testing v-model -->
            <p>{{inputMessage}}</p>
            <input v-model="inputMessage" >
        </div>
        <script src="demo2.js" ></script>
    </body>
</html>