<!DOCTYPE html>
<html>
    <head>
        <!-- Remember I said we would tell you what to put here? Don't worry about these -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Lesson 3 Demo 3</title>
        <link rel="stylesheet" href="demo3.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1 class="heading">Lesson 3, Demo 3</h1>
        <h2 class="heading">Basic VueJS</h2>
        <div id="app">
            <p>{{message}}</p>
            <div v-if="toggle" class="divBackground">
                Now you see me!
            </div>
            <div v-if="otherToggle">
                Now you don't!
            </div>
            <br />
            <button v-on:click="set_toggle">Toggle</button>
        </div>
        <script src="demo3.js" ></script>
    </body>
</html>